<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles/style.css">
    <title>Главная страница</title>
    <script src="static/js/script.js"></script>
</head>
<body>
<div class="container">
    <h1 class="title">API Weather App</h1>
    <div class="form">
        <form onsubmit="submitForm(event)">
            <input class="btn" id="city" type="text" name="city" placeholder="Название города" value="{{ city }}">
            <input class="btn submit" type="submit" value="Получить погоду">
        </form>
        {% if data %}
            {% if transl %}
            <div class="result">
                <div>Адрес: {{city}}</div>
                <ul>
                    {% for k, v in transl.items() %}
                        <li>{{k}}: {{v}}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% else %}
            <div class="no-city">Такого города нет</div>
        {% endif %}
    </div>
</div>
</body>
</html>
